

/* i want different bg for all  */


.feature1-bg{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/29509537/pexels-photo-29509537/free-photo-of-desk-setup-with-2025-calendar-and-laptop.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature2-bg{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/29502368/pexels-photo-29502368/free-photo-of-laptop-and-smartphone-with-stripe-app-displayed.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature3-bg{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/29502370/pexels-photo-29502370/free-photo-of-mobile-payment-app-stripe-on-laptop-with-ecommerce.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.bg-cover-hist{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/9143821/pexels-photo-9143821.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}