.hero-bg{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('https://images.pexels.com/photos/8998216/pexels-photo-8998216.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}